# patches, diffs, merges
*.patch
interdiff.txt
*.orig
*.bak

# PHPStorm
.idea/*

# Ignore library
**/Siel/Acumulus/Common

# Shared files
**/Siel/Acumulus/changelog.txt
**/Siel/Acumulus/LICENTIE.txt
**/Siel/Acumulus/LICENTIE-NL.pdf
**/Siel/Acumulus/README.txt
