# patches, diffs, merges
*.patch
interdiff.txt
*.orig
*.bak

# releases
*.zip

# PHPStorm
.idea/*

# Ignore library
**/libraries

# Shared files
**/Siel/Acumulus/changelog.txt
**/Siel/Acumulus/license.txt
**/Siel/Acumulus/licentie-nl.pdf
**/Siel/Acumulus/leesmij.txt
