<?xml version="1.0"?>
<config>
  <modules>
    <Siel_AcumulusCustomiseInvoice>
      <version>5.0.1</version>
    </Siel_AcumulusCustomiseInvoice>
  </modules>

  <global>
      <models>
          <acumulus_customise_invoice>
              <class>Siel_AcumulusCustomiseInvoice_Model</class>
          </acumulus_customise_invoice>
      </models>

      <events>
      <acumulus_invoice_created>
        <observers>
          <Siel_AcumulusCustomiseInvoice_observer>
            <type>singleton</type>
            <class>acumulus_customise_invoice/acumulusInvoice_observer</class>
            <method>acumulusInvoiceCreated</method>
          </Siel_AcumulusCustomiseInvoice_observer>
        </observers>
      </acumulus_invoice_created>

      <acumulus_invoice_send_before>
        <observers>
          <Siel_AcumulusCustomiseInvoice_observer>
            <type>singleton</type>
              <class>acumulus_customise_invoice/acumulusInvoice_observer</class>
            <method>acumulusInvoiceSendBefore</method>
          </Siel_AcumulusCustomiseInvoice_observer>
        </observers>
      </acumulus_invoice_send_before>

      <acumulus_invoice_send_after>
        <observers>
          <Siel_AcumulusCustomiseInvoice_observer>
            <type>singleton</type>
              <class>acumulus_customise_invoice/acumulusInvoice_observer</class>
            <method>acumulusInvoiceSendAfter</method>
          </Siel_AcumulusCustomiseInvoice_observer>
        </observers>
      </acumulus_invoice_send_after>
    </events>
  </global>

</config>
